/*@import url("/home/om/.config/waybar/colors-waybar.css");*/

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border: 1px solid @color2;
  border-radius: 5px;
}

#workspaces {
  background-color: transparent;
  /*margin: 0.3em 0;*/
}

#workspaces button.focused {
  background-color: @color5;
  padding: 0px 30px;
}

#workspaces button.active:hover {
  background: @color5;
  padding: 0px 30px;
  border-radius: 16px;
}

#workspaces button.focused:hover {
  background: @color5;
  padding: 0px 30px;
  border-radius: 16px;
}

#workspaces button {
  background-color: @color6;
  color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  padding: 0px 5px;
  margin: 8px 5px;
  border-radius: 16px;
}

#workspaces button:hover {
  background: @color2;
  padding: 0px 30px;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
}

.modules-center > widget > *{
  /*border: 0px solid #848e9c;*/
}

.modules-left > widget > * {
  /*border: 0px solid #848e9c;*/
}

.modules-right > widget > * {
  /*border: 0px solid #848e9c;*/
}

#battery,
#clock,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#mpris {
  color: @foreground;
  background-color: @color6;
  /*background-color: @transparent;*/
  padding: 0 20px 0 20px;
  margin: 8px 13px;
  border-radius: 16px;
}

