
/* Colors */
@import url("/home/om/.config/waybar/colors-waybar.css");

/* Config */

* {
    font-family: "JetbrainsMono Nerd Font";
    font-weight: 700;
    font-size: 14px;
}

/* Notification */

.notification {
    background: @color1;
    color: @foreground;
    padding: 10px;
    border: none;
    box-shadow: none;
}

.summary {
  background: transparent;
  color: @foreground;
  text-shadow: none;
}

.time {
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 18px;
}

.close-button {
  background-color: @background;
  color: @foreground;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @foreground;
    background: transparent;
    border: none;
}

.notification.critical progress {
  background-color: @color1;
}

.notification.low progress,
.notification.normal progress {
  background-color: @color1;
}

/* Control Center */

.control-center {
    background-color: @background;
    color: @foreground;
    border: 1px solid @color2;
    border-radius: 5px;
    padding: 10px;
}

/* Notifications expanded-group */

 .notification-group {
    background: transparent;
} 

.notification-group-icon {
  color: @foreground;
}

.notification-group-headers {
  color: @foreground;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @color1;
  color: @foreground;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @color2;
  color: @foreground;
}

/* widget title */
.widget-title {
  color: @foreground;
}
.widget-title>button {
  color: @foreground;
  background: @background-alt;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @foreground;
  color: @foreground;
}

/* widget button grid */
button {
    border: 0px;
    min-width: 35px;
    background: @color1;
}

.widget-buttons-grid {
  background: transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    color: @foreground;
    margin: 8px;
    padding: 12px 16px 12px 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
    font-size: x-large;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @color2;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @color2;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
    color: @foreground;
}

/* dnd widget */
.widget-dnd {
  background: transparent;
  font-size: x-large;
  color: @foreground;
}

.widget-dnd>switch {
  background: @color3;
  color: @foreground;
  border-radius: 16px;
  padding: 0px 10px 0px 0px;
}

.widget-dnd>switch:checked {
  background: @color2;
  padding: 0px 0px 0px 10px;
}

/* volume & backlight widget */

.widget-volume {
  background: transparent;
  color: @foreground;
  font-size: x-large;
}

.widget-backlight {
  background: transparent;
  color: @foreground;
  font-size: x-large;
}

/* music player widget */
.widget-mpris {
  background: transparent;
  margin: 0px;
}

.widget-mpris button {
  background-color: transparent;
  border-radius: 6px;
}

.widget-mpris button:hover {
  background-color: @color1;
  color: @foreground;
}


/* sliders in backlight and volume */

trough slider {
    background: @foreground;
}

trough slider:hover {
    background: @color2;
}


trough highlight {
  background: @color3;
}
